@model MyPhamCheilinus.Models.DonHang

@{
    ViewData["Title"] = "Thông tin đơn hàng" + Model.MaDonHang;
    Layout = "~/Views/Shared/_LayoutIndex.cshtml";
    List<DonHang> chitiet = ViewBag.ChiTiet;
}


<div class="breadcrumb-section breadcrumb-bg-color--golden">
    <div class="breadcrumb-wrapper">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h3 class="breadcrumb-title">Đơn hàng</h3>
                    <div class="breadcrumb-nav breadcrumb-nav-color--black breadcrumb-nav-hover-color--golden">
                        <nav aria-label="breadcrumb">
                            <ul>
                                <li><a href="/">Home</a></li>
                                <li><a href="/DanhMucSanPham/Index">Shop</a></li>

                                <li class="active" aria-current="page">Đơn hàng</li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>




<!-- Page Container START -->
<div class="page-container">


    <!-- Content Wrapper START -->
    <div class="main-content">
        <div class="page-header">
            <div class="header-sub-title">
                <nav class="breadcrumb breadcrumb-dash">
                    <a asp-area="Admin" asp-asp-controller="Home" asp-action="Index" class="breadcrumb-item"><i class="anticon anticon-home m-r-5"></i>Trang chủ</a>
                    <a class="breadcrumb-item" asp-area="Admin" asp-asp-controller="ChiTietDonHangs" asp-action="Index">Danh sách đơn hàng</a>
                    <span class="breadcrumb-item active">Thông tin chi tiết</span>
                </nav>
            </div>
        </div>
        <div class="container">
            <div class="card">
                <div class="card-body">
                    <div id="invoice" class="p-h-30">
                        <div class="row m-t-20 lh-2">
                            <div class="col-sm-8">
                                <h3 class="p-l-10 m-t-10">THÔNG TIN CHI TIẾT:</h3>
                                <address class="p-l-10 m-t-10">
                                    <span class="font-weight-semibold text-dark">@Model.MaKhachHangNavigation.TenKhachHang</span><br>
                                    <abbr class="text-dark">Địa chỉ:</abbr>
                                    <span>@Model.MaKhachHangNavigation.DiaChi </span><br>
                                    <abbr class="text-dark" title="Phone">Số điện thoại:</abbr>
                                    <span>@Model.MaKhachHangNavigation.SoDienThoai</span>
                                </address>
                            </div>
                            <div class="col-sm-4">
                                <div class="m-t-80">
                                    <div class="text-dark text-uppercase d-inline-block">
                                        <span class="font-weight-semibold text-dark">Thông tin mua hàng :</span>
                                    </div>
                                    <div class="float-right">@Model.MaDonHang</div>
                                </div>
                                <div class="text-dark text-uppercase d-inline-block">
                                    <span class="font-weight-semibold text-dark">Ngày mua hàng:</span>
                                </div>
                                <div class="float-right">@Model.NgayDatHang</div>
                                <div class="text-dark text-uppercase d-inline-block">
                                    <span class="font-weight-semibold text-dark">Trạng thái đơn hàng:</span>
                                </div>
                                <div class="float-right">
                                    @if (Model.TrangThaiDonHang == 1)
                                    {
                                        <span class=" badge bg-success">Chờ xác nhận</span>
                                    }
                                    else if (Model.TrangThaiDonHang == 2)
                                    {
                                        <span class="badge bg-warning">Đang vận chuyển</span>
                                    }
                                    else if (Model.TrangThaiDonHang == 3)
                                    {
                                        <span class="badge bg-primary">Đã giao hàng</span>
                                    }
                                    else if (Model.TrangThaiDonHang == 4)
                                    {
                                        <span class="badge bg-danger" style="background-color: #c82333">Đã hủy</span>
                                    }
                                </div>
                            </div>
                        </div>
                        <div class="m-t-20">
                            <div class="table-responsive">
                                <table class="table table-bordered table-hover">
                                    <thead>
                                        <tr class="text-center">
                                            <th>STT</th>
                                            <th>Sản phẩm</th>
                                            <th>Số lượng</th>
                                            <th>Ảnh</th>
                                            <th>Đơn giá</th>
                                            <th>Tổng tiền</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @if (chitiet != null && chitiet.Count > 0)
                                        {
                                            int i = 1;
                                            @foreach (var item in @Model.ChiTietDonHangs)
                                            {
                                                <tr>
                                                    <td class="text-center">@i</td>
                                                    <td>@item.MaSanPhamNavigation.TenSanPham</td>

                                                    <td class="text-center" style="width: 15%;">
                                                        <img src="@Url.Content("~/images/sanPhams/" + item.MaSanPhamNavigation.Anh)" alt="Ảnh sản phẩm" class="img-thumbnail" style="max-width: 200px; max-height: 100px;" />
                                                    </td>

                                                    <td class="text-center">@item.SoLuong</td>
                                                    <td class="text-center">@item.GiaBan.Value.ToString("#,##0") VNĐ</td>
                                                    <td class="text-center">@((item.GiaBan.Value * (double)item.SoLuong).ToString("#,##0")) VNĐ</td>
                                                </tr>
                                                i++;
                                            }

                                        }

                                    </tbody>
                                </table>
                            </div>
                            <div class="row m-t-30 lh-1-8">
                                <div class="col-sm-4">
                                    <div>
                                        <button class="btn btn-secondary">
                                            <a asp-controller="DonHang" asp-action="Index" asp-route-MaID="@ViewBag.CurrentMaID" asp-route-id="@Model.MaDonHang" asp-route-page="@ViewBag.CurrentPage" asp-route-Search="@ViewBag.CurrentSearch" asp-route-MinPrice="@ViewBag.CurrentMinPrice" asp-route-MaxPrice="@ViewBag.CurrentMaxPrice" style="color: white" asp-route-MaxPrice="@ViewBag.CurrentMaxPrice">Trở lại</a>
                                        </button>
                                    </div>

                                </div>
                                <div class="col-sm-8">

                                    <div class="float-right text-right">
                                        <h3><span class="font-weight-semibold text-dark">Tổng tiền: </span>@Model.TongTien.Value.ToString("#,##0") VNĐ</h3>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Content Wrapper END -->
</div>
<!-- Page Container END -->