@model Tuple<List<MyPhamCheilinus.Models.KhachHang>, MyPhamCheilinus.Models.GioHang>

@{
    ViewData["Title"] = "Đơn hàng";
    Layout = "~/Views/Shared/_LayoutIndex.cshtml";
}

<style>
    #newAddressSection {
        display: none;
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: #fff; /* Màu nền trắng */
        padding: 20px; /* Khoảng cách nội dung từ mép ô nhập */
        border-radius: 10px; /* Góc bo tròn cho ô nhập */
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); /* Đổ bóng cho ô nhập */
        z-index: 1000; /* Đảm bảo ô nhập nổi lên trên các phần khác */
    }

        #newAddressSection input {
            width: 100%; /* Chiều rộng 100% */
            box-sizing: border-box; /* Tính cả border và padding trong chiều rộng */
            margin-bottom: 15px; /* Khoảng cách giữa các ô nhập */
            padding: 10px; /* Khoảng cách nội dung từ mép ô nhập pay
                border: 1px solid #ccc; /* Đường viền ô nhập */
            border-radius: 5px; /* Góc bo tròn cho ô nhập */
        }
</style>


<script>
    document.addEventListener("DOMContentLoaded", function () {
        var addAddressButton = document.getElementById("addAddressButton");
        var newAddressSection = document.getElementById("newAddressSection");

        addAddressButton.addEventListener("click", function () {
            newAddressSection.style.display = "block";
        });


    });
</script>



@* <script>
    function saveAddress() {
        var tenKhachHang = $("#TenKhachHang").val();
        var diaChi = $("#DiaChi").val();
        var soDienThoai = $("#SoDienThoai").val();
        var email = $("#email").val();

        var data = {
            TenKhachHang: tenKhachHang,
            DiaChi: diaChi,
            SoDienThoai: soDienThoai,
            email: email
        };

        $.ajax({
            url: "/GioHang/SaveAddress",
            type: "POST",
            data: data,
            success: function (response) {
                // Xử lý kết quả thành công
                console.log("Lưu địa chỉ thành công");
                window.location.reload(); // Hoặc chuyển hướng đến trang khác nếu cần
            },
            error: function (xhr, status, error) {
                // Xử lý lỗi
                console.log("Lỗi: " + error);
            }
        });
    }
</script> *@




<div class="card card-primary" id="newAddressSection" style="display: none;">
    <button type="button" class="close ml-auto text-right" aria-label="Close" id="closeAddressSection">
        <span aria-hidden="true">&times;</span>
    </button>
    <div class="card-header">
        <h3 class="card-title">THÊM NGƯỜI NHẬN</h3>

    </div>

    <div class="container">
        <div class="card-body">

            <form asp-action="SaveAddress" method="post">
                <div class="form-group">
                    <label for="hoTen">Tên người nhận </label>
                    <input type="text" class="form-control" id="hoTen" name="hoTen" required>
                </div>
                <div class="form-group">
                    <label for="diaChi">Địa chỉ</label>
                    <input type="text" class="form-control" id="diaChi" name="diaChi" required>
                </div>
                <div class="form-group">
                    <label for="soDienThoai">Số điện thoại</label>
                    <input type="text" class="form-control" id="soDienThoai" name="soDienThoai" required>
                </div>

                <button type="submit" class="btn btn-md btn btn-md btn-golden">Lưu</button>
            </form>
        </div>
        <!-- /.card-body -->


    </div>


</div>

<script>
    document.addEventListener("DOMContentLoaded", function () {
        var addAddressButton = document.getElementById("addAddressButton");
        var newAddressSection = document.getElementById("newAddressSection");
        var closeAddressSection = document.getElementById("closeAddressSection");

        addAddressButton.addEventListener("click", function () {
            newAddressSection.style.display = "block";
        });

        closeAddressSection.addEventListener("click", function () {
            newAddressSection.style.display = "none";
        });
    });
</script>



<div class="breadcrumb-section breadcrumb-bg-color--golden">
    <div class="breadcrumb-wrapper">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h3 class="breadcrumb-title">Checkout</h3>
                    <div class="breadcrumb-nav breadcrumb-nav-color--black breadcrumb-nav-hover-color--golden">
                        <nav aria-label="breadcrumb">
                            <ul>
                                <li><a href="index.html">Home</a></li>
                                <li><a href="shop-grid-sidebar-left.html">Shop</a></li>
                                <li class="active" aria-current="page">Checkout</li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>








<div class="checkout-section">
    <div class="container">

        <!-- Start User Details Checkout Form -->
        <div class="checkout_form aos-init aos-animate" data-aos="fade-up" data-aos-delay="400">
            <form asp-action="ThanhToan" method="post">
                <div class="row">



                    <div class="col-lg-6 col-md-6">
                        <h3>ĐỊA CHỈ</h3>
                        <div class="order_table table-responsive">
                            @if (Model.Item1.Count > 0)
                            {

                                <table class="table">
                                    <thead>
                                        <tr>

                                            <th>Tên người nhận</th>
                                            <th>Số điện thoại</th>
                                            <th>Địa chỉ</th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var customer in Model.Item1)
                                        {
                                            <tr>

                                                <td>@customer.TenKhachHang</td>
                                                <td>@customer.SoDienThoai</td>
                                                <td>@customer.DiaChi</td>
                                                <td>
                                                    <input type="radio" name="selectedKhachHang" value="@customer.MaKhachHang" />
                                                </td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>



                                <button id="addAddressButton" class="btn btn-md btn btn-md btn-golden" type="button">Thêm địa chỉ</button>
                            }
                            else
                            {
                                <p>No customers found.</p>
                                <button id="addAddressButton" class="btn btn-md btn btn-md btn-golden" type="button">Thêm địa chỉ</button>
                            }
                        </div>
                    </div>



                    <div class="col-lg-6 col-md-6">

                        <h3>ĐƠN CỦA BẠN</h3>
                        <div class="order_table table-responsive">
                            <table>
                                <thead>
                                    <tr>
                                        <th>Sản phẩm</th>
                                        <th>Tổng</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var line in Model.Item2.Lines)
                                    {
                                        if (line != null) // Kiểm tra line không phải là null
                                        {
                                            <tr>
                                                <td> @line.SanPham.TenSanPham <strong> × @line.SoLuong</strong></td>

                                                <td> @string.Format("{0:#,##0} VNĐ",(line.SoLuong * line.SanPham.Gia * (100 - line.SanPham.KhuyenMai) / 100))</td>
                                            </tr>
                                        }
                                    }
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <th>Tổng giỏ hàng</th>
                                        <td>@string.Format("{0:#,##0} VNĐ",Model.Item2.ComputeTotalValues())</td>
                                    </tr>
                                    <tr>
                                        <th>Shipping</th>
                                        <td><strong>10.000 VNĐ</strong></td>
                                    </tr>
                                    <tr class="order_total">
                                        <th>Thanh toán</th>
                                        <td><strong>@string.Format("{0:#,##0} VNĐ",Model.Item2.ComputeTotalValues()+10000)</strong></td>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                        <div class="payment_method">
                            @*<div class="panel-default">
                            <label class="checkbox-default" for="currencyCod" data-bs-toggle="collapse" data-bs-target="#methodCod">
                            <input type="checkbox" id="currencyCod">
                            <span>Thanh toán khi giao hàng</span>
                            </label>

                            <div id="methodCod" class="collapse" data-parent="#methodCod">
                            <div class="card-body1">
                            <p>
                            Please send a check to Store Name, Store Street, Store Town, Store State
                            / County, Store Postcode.
                            </p>
                            </div>
                            </div>
                            </div>
                            <div class="panel-default">
                            <label class="checkbox-default" for="currencyPaypal" data-bs-toggle="collapse" data-bs-target="#methodPaypal">
                            <input type="checkbox" id="currencyPaypal">
                            <span>PayPal</span>
                            </label>
                            <div id="methodPaypal" class="collapse " data-parent="#methodPaypal">
                            <div class="card-body1">
                            <p>
                            Pay via PayPal; you can pay with your credit card if you don’t have a
                            PayPal account.
                            </p>
                            </div>
                            </div>
                            </div>*@
                            <div class="order_button pt-3">
                                <button type="submit" class="btn btn-md btn-black-default-hover" type="submit">
                                    THANH TOÁN
                                </button>
                            </div>
                        </div>


                    </div>


                </div>
            </form>
        </div>
    </div> <!-- Start User Details Checkout Form -->
</div>

