@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_LayoutIndex.cshtml";
}

@model List<DanhMucSanPham>

<!-- Offcanvas Overlay -->
<div class="offcanvas-overlay"></div>
<div class="hero-slider-section">
    <!-- Slider main container -->
    <div class="hero-slider-active swiper-container">
        <!-- Additional required wrapper -->
        <div class="swiper-wrapper">
            <!-- Start Hero Single Slider Item -->
            <div class="hero-single-slider-item swiper-slide">
                <!-- Hero Slider Image -->
                <div class="hero-slider-bg">
                    <img src="/images/hero-slider/home-2/hero_slider_1.jpg" alt="">
                </div>
                <!-- Hero Slider Content -->
                <div class="hero-slider-wrapper">
                    <div class="container">
                        <div class="row">
                            <div class="col-auto">
                                <div class="hero-slider-content">
                                    <h4 class="subtitle">Bật mí chiếc cushion nâng tông tự nhiên</h4>
                                    <h1 class="title">BACKME TONEUP <br>  SUN CUSHION </h1>
                                    <a href="product-details-default.html" class="btn btn-lg btn-outline-green">
                                        shop
                                        now
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div> <!-- End Hero Single Slider Item -->
            <!-- Start Hero Single Slider Item -->
            <div class="hero-single-slider-item swiper-slide">
                <!-- Hero Slider Image -->
                <div class="hero-slider-bg">
                    <img src="/images/hero-slider/home-2/hero_slider_2.jpg" alt="">
                </div>
                <!-- Hero Slider Content -->
                <div class="hero-slider-wrapper">
                    <div class="container">
                        <div class="row">
                            <div class="col-auto">
                                <div class="hero-slider-content">
                                    <h4 class="subtitle">Bao bọc đôi môi </h4>
                                    <h1 class="title">Dewyful  <br> Water Tint</h1>
                                    <a href="product-details-default.html" class="btn btn-lg btn-outline-green">
                                        shop
                                        now
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div> <!-- End Hero Single Slider Item -->
        </div>

        <!-- If we need pagination -->
        <div class="swiper-pagination active-color-green"></div>

        <!-- If we need navigation buttons -->
        <div class="swiper-button-prev d-none d-lg-block"></div>
        <div class="swiper-button-next d-none d-lg-block"></div>
    </div>
</div>

<!-- Start Company Logo Section -->
<div class="company-logo-section section-top-gap-100 section-fluid">
    <div class="company-logo-wrapper" data-aos="fade-up" data-aos-delay="0">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="company-logo-slider default-slider-nav-arrow">
                        <!-- Slider main container -->
                        <div class="swiper-container company-logo-slider">
                            <!-- Additional required wrapper -->
                            <div class="swiper-wrapper">
                                <!-- Start Company Logo Single Item -->
                                <div class="company-logo-single-item swiper-slide">
                                    <div class="image">
                                        <img class="img-fluid"
                                             src="/images/company-logo/company-logo-1.png" alt="">
                                    </div>
                                </div>
                                <!-- End Company Logo Single Item -->
                                <!-- Start Company Logo Single Item -->
                                <div class="company-logo-single-item swiper-slide">
                                    <div class="image">
                                        <img class="img-fluid"
                                             src="/images/company-logo/company-logo-2.png" alt="">
                                    </div>
                                </div>
                                <!-- End Company Logo Single Item -->
                                <!-- Start Company Logo Single Item -->
                                <div class="company-logo-single-item swiper-slide">
                                    <div class="image">
                                        <img class="img-fluid"
                                             src="/images/company-logo/company-logo-3.png" alt="">
                                    </div>
                                </div>
                                <!-- End Company Logo Single Item -->
                                <!-- Start Company Logo Single Item -->
                                <div class="company-logo-single-item swiper-slide">
                                    <div class="image">
                                        <img class="img-fluid"
                                             src="/images/company-logo/company-logo-4.png" alt="">
                                    </div>
                                </div>
                                <!-- End Company Logo Single Item -->
                                <!-- Start Company Logo Single Item -->
                                <div class="company-logo-single-item swiper-slide">
                                    <div class="image">
                                        <img class="img-fluid"
                                             src="/images/company-logo/company-logo-5.png" alt="">
                                    </div>
                                </div>
                                <!-- End Company Logo Single Item -->
                                <!-- Start Company Logo Single Item -->
                                <div class="company-logo-single-item swiper-slide">
                                    <div class="image">
                                        <img class="img-fluid"
                                             src="/images/company-logo/company-logo-6.png" alt="">
                                    </div>
                                </div>
                                <!-- End Company Logo Single Item -->
                                <!-- Start Company Logo Single Item -->
                                <div class="company-logo-single-item swiper-slide">
                                    <div class="image">
                                        <img class="img-fluid"
                                             src="/images/company-logo/company-logo-7.png" alt="">
                                    </div>
                                </div>
                                <!-- End Company Logo Single Item -->
                                <!-- Start Company Logo Single Item -->
                                <div class="company-logo-single-item swiper-slide">
                                    <div class="image">
                                        <img class="img-fluid"
                                             src="/images/company-logo/company-logo-8.png" alt="">
                                    </div>
                                </div>
                                <!-- End Company Logo Single Item -->
                            </div>
                        </div>
                        <!-- If we need navigation buttons -->
                        <div class="swiper-button-prev d-none d-md-block"></div>
                        <div class="swiper-button-next d-none d-md-block"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Company Logo Section -->
<!-- Start Banner Section -->
<div class="banner-section section-top-gap-100 section-fluid">
    <div class="banner-wrapper">
        <div class="container">
            <div class="row mb-n6">
                <div class="col-md-4 col-12 mb-6">
                    <!-- Start Banner Single Item -->
                    <div class="banner-single-item banner-style-5 img-responsive" data-aos="fade-up"
                         data-aos-delay="0">
                        <a href="product-details-default.html" class="image banner-animation">
                            <img src="/images/banner/banner-style-5-img-1.jpg" alt="">
                        </a>
                    </div>
                    <!-- End Banner Single Item -->
                </div>
                <div class="col-md-4 col-12 mb-6">
                    <!-- Start Banner Single Item -->
                    <div class="banner-single-item banner-style-5 img-responsive" data-aos="fade-up"
                         data-aos-delay="200">
                        <a href="product-details-default.html" class="image banner-animation">
                            <img src="/images/banner/banner-style-5-img-2.jpg" alt="">
                        </a>
                    </div>
                    <!-- End Banner Single Item -->
                </div>
                <div class="col-md-4 col-12 mb-6">
                    <!-- Start Banner Single Item -->
                    <div class="banner-single-item banner-style-5 img-responsive" data-aos="fade-up"
                         data-aos-delay="400">
                        <a href="product-details-default.html" class="image banner-animation">
                            <img src="/images/banner/banner-style-5-img-3.jpg" alt="">
                        </a>
                    </div>
                    <!-- End Banner Single Item -->
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Banner Section -->
<!-- Start Product Default Slider Section -->
<div class="product-default-slider-section section-top-gap-100 section-fluid">
    <!-- Start Section Content Text Area -->
    <div class="section-title-wrapper" data-aos="fade-up" data-aos-delay="0">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="section-content-gap">
                        <div class="secton-content">
                            <h3 class="section-title">Sản phẩm mới </h3>
                            <p>Đặt hàng ngay để nhận ưu đãi & quà tặng độc quyền</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- Start Section Content Text Area -->
<!-- End Product Default Slider Section -->
<!-- Start Section Content Text Area -->

<div class="product-wrapper" data-aos="fade-up" data-aos-delay="200">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="product-slider-default-1row default-slider-nav-arrow">
                    <!-- Slider main container -->
                    <div class="swiper-container product-default-slider-4grid-1row">
                        <!-- Additional required wrapper -->
                        <div class="swiper-wrapper">
                            @foreach (var item in Model)
                            {
                                <!-- Start Product Default Single Item -->
                                <div class="product-default-single-item product-color--green swiper-slide">
                                    <div class="image-box">
                                        <a href="product-details-default.html" class="image-link">
                                            <img src="@item.HinhAnh" alt="@item.TenDanhMuc">
                                        </a>
                                        <div class="action-link">
                                            <div class="action-link-left">
                                                <a href="#" data-bs-toggle="modal"
                                                   data-bs-target="#modalAddcart">Add to Cart</a>
                                            </div>
                                            <div class="action-link-right">
                                                <a href="#" data-bs-toggle="modal"
                                                   data-bs-target="#modalQuickview">
                                                    <i class="icon-magnifier"></i>
                                                </a>
                                                <a href="wishlist.html"><i class="icon-heart"></i></a>
                                                <a href="compare.html"><i class="icon-shuffle"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="content">
                                        <div class="content-left">
                                            <h6 class="title">
                                                <a href="product-details-default.html">
                                                    @item.TenDanhMuc
                                                </a>
                                            </h6>
                                            <ul class="review-star">
                                                @for (double i = 0; i < item.DanhGia; i++)
                                                {
                                                    <li class="fill"><i class="ion-android-star"></i></li>
                                                }
                                                @for (double? i = item.DanhGia; i < 5; i++)
                                                {
                                                    <li class="empty"><i class="ion-android-star"></i></li>
                                                }
                                            </ul>
                                        </div>
                                        <div class="content-right">
                                            <span class="price">
                                                @item.Gia
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <!-- End Product Default Single Item -->
                            }
                        </div>
                    </div>
                    <!-- If we need navigation buttons -->
                    <div class="swiper-button-prev"></div>
                    <div class="swiper-button-next"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Product Default Slider Section -->
<!-- Start Banner Section -->
<div class="banner-section section-top-gap-100">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <!-- Start Banner Single Item -->
                <div class="banner-single-item banner-style-6 banner-animation img-responsive" data-aos="fade-up"
                     data-aos-delay="0">
                    <div class="image">
                        <img src="/images/banner/White and Grey Modern Beauty Salon Banner.jpg" alt="">
                    </div>
                    <div class="content">
                        <h6 class="sub-title">ROM&ND X SANRIO CHARACTERS EDITION</h6>
                        <h2 class="title">
                            Dù bạn đáng yêu, hay nổi loạn
                        </h2>
                        <p>
                            Lời nhắn rom&nd gửi tới mọi cô gái qua Project này,
                            Hãy yêu lấy chính bản thân bạn!
                        </p>
                        <a href="product-details-default.html"
                           class="btn btn-lg btn-outline-green icon-space-left">
                            <span class="d-flex align-items-center">
                                Browse <i class="ion-ios-arrow-thin-right"></i>
                            </span>
                        </a>
                    </div>
                </div>
                <!-- End Banner Single Item -->
            </div>
        </div>
    </div>
</div>
<!-- End Banner Section -->
<!-- Start Service Section -->
<div class="service-promo-section section-top-gap-100">
    <div class="service-wrapper">
        <div class="container">
            <div class="row">
                <!-- Start Service Promo Single Item -->
                <div class="col-lg-3 col-sm-6 col-12">
                    <div class="service-promo-single-item" data-aos="fade-up" data-aos-delay="0">
                        <div class="image">
                            <img src="/images/icons/service-promo-5.png" alt="">
                        </div>
                        <div class="content">
                            <h6 class="title">MIỄN PHÍ VẬN CHUYỂN</h6>
                            <p>Nhận lại 10% tiền mặt, giao hàng miễn phí, trả lại miễn phí và hơn thế nữa tại hơn 1000 nhà bán lẻ hàng đầu!</p>
                        </div>
                    </div>
                </div>
                <!-- End Service Promo Single Item -->
                <!-- Start Service Promo Single Item -->
                <div class="col-lg-3 col-sm-6 col-12">
                    <div class="service-promo-single-item" data-aos="fade-up" data-aos-delay="200">
                        <div class="image">
                            <img src="/images/icons/service-promo-6.png" alt="">
                        </div>
                        <div class="content">
                            <h6 class="title">HOÀN TIỀN TRONG 30 NGÀY</h6>
                            <p>Đảm bảo sự hài lòng 100% hoặc nhận lại tiền của bạn trong vòng 30 ngày!</p>
                        </div>
                    </div>
                </div>
                <!-- End Service Promo Single Item -->
                <!-- Start Service Promo Single Item -->
                <div class="col-lg-3 col-sm-6 col-12">
                    <div class="service-promo-single-item" data-aos="fade-up" data-aos-delay="400">
                        <div class="image">
                            <img src="/images/icons/service-promo-7.png" alt="">
                        </div>
                        <div class="content">
                            <h6 class="title">
                                THANH TOÁN AN TOÀN
                            </h6>
                            <p>Thanh toán bằng các phương thức an toàn và phổ biến nhất thế giớ.</p>
                        </div>
                    </div>
                </div>
                <!-- End Service Promo Single Item -->
                <!-- Start Service Promo Single Item -->
                <div class="col-lg-3 col-sm-6 col-12">
                    <div class="service-promo-single-item" data-aos="fade-up" data-aos-delay="600">
                        <div class="image">
                            <img src="/images/icons/service-promo-8.png" alt="">
                        </div>
                        <div class="content">
                            <h6 class="title">KHÁCH HÀNG TRUNG THÀNH</h6>
                            <p>Thẻ này áp dụng cho 30% giao dịch mua sắm còn lại của bạn với mức hoàn tiền là 1%..</p>
                        </div>
                    </div>
                </div>
                <!-- End Service Promo Single Item -->
            </div>
        </div>
    </div>
</div>
<!-- End Service Section -->
<!-- Start Banner Section -->
<div class="banner-section section-top-gap-100">
    <div class="banner-wrapper clearfix">
        <!-- Start Banner Single Item -->
        <div class="banner-single-item banner-style-4 banner-animation banner-color--green float-left"
             data-aos="fade-up" data-aos-delay="0">
            <div class="image">
                <img class="img-fluid" src="/images/banner/banner-style-4-img_5.jpg" alt="">
            </div>
            <a href="product-details-default.html" class="content">
                <div class="inner">
                    <h4 class="title">Lớp nền trong veo</h4>
                    <h6 class="sub-title">20 products</h6>
                </div>
                <span class="round-btn"><i class="ion-ios-arrow-thin-right"></i></span>
            </a>
        </div>
        <!-- End Banner Single Item -->
        <!-- Start Banner Single Item -->
        <div class="banner-single-item banner-style-4 banner-animation banner-color--green float-left"
             data-aos="fade-up" data-aos-delay="200">
            <div class="image">
                <img class="img-fluid" src="/images/banner/banner-style-4-img_6.jpg" alt="">
            </div>
            <a href="product-details-default.html" class="content">
                <div class="inner">
                    <h4 class="title">Đôi môi ngọt ngào</h4>
                    <h6 class="sub-title">20 products</h6>
                </div>
                <span class="round-btn"><i class="ion-ios-arrow-thin-right"></i></span>
            </a>
        </div>
        <!-- End Banner Single Item -->
        <!-- Start Banner Single Item -->
        <div class="banner-single-item banner-style-4 banner-animation banner-color--green float-left"
             data-aos="fade-up" data-aos-delay="400">
            <div class="image">
                <img class="img-fluid" src="/images/banner/banner-style-4-img_7.jpg" alt="">
            </div>
            <a href="product-details-default.html" class="content">
                <div class="inner">
                    <h4 class="title">Đôi mắt lấp lánh</h4>
                    <h6 class="sub-title">20 products</h6>
                </div>
                <span class="round-btn"><i class="ion-ios-arrow-thin-right"></i></span>
            </a>
        </div>
        <!-- End Banner Single Item -->
        <!-- Start Banner Single Item -->
        <div class="banner-single-item banner-style-4 banner-animation banner-color--green float-left"
             data-aos="fade-up" data-aos-delay="600">
            <div class="image">
                <img class="img-fluid" src="/images/banner/banner-style-4-img_8.jpg" alt="">
            </div>
            <a href="product-details-default.html" class="content">
                <div class="inner">
                    <h4 class="title">Cô gái đáng yêu</h4>
                    <h6>20 products</h6>
                </div>
                <span class="round-btn"><i class="ion-ios-arrow-thin-right"></i></span>
            </a>
        </div>
        <!-- End Banner Single Item -->
    </div>
</div>
<!-- End Banner Section -->
<!-- Start Product List View Slider Section -->
<div class="product-list-slider-section section-top-gap-100 section-fluid">
    <!-- Start Section Content Text Area -->
    <div class="section-title-wrapper" data-aos="fade-up" data-aos-delay="0">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="section-content-gap">
                        <div class="secton-content">
                            <h3 class="section-title">Best Sellers</h3>
                            <p>Thêm sản phẩm bán chạy nhất của chúng tôi vào danh sách hàng tuần của bạn.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Start Section Content Text Area -->
    <div class="product-wrapper" data-aos="fade-up" data-aos-delay="200">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="product-list-slider-3rows default-slider-nav-arrow">
                        <!-- Slider main container -->
                        <div class="swiper-container product-listview-slider-4grid-3rows">
                            <!-- Additional required wrapper -->
                            <div class="swiper-wrapper">
                                @foreach (var item in Model)
                                {
                                    <div class="product-listview-single-item product-color--green swiper-slide">
                                        <div class="image-box">
                                            <a href="product-details-default.html" class="image-link">
                                                <img src="@item.HinhAnh" alt="">
                                            </a>
                                        </div>
                                        <div class="content">
                                            <h6 class="title">
                                                <a href="product-details-default.html">
                                                    @item.TenDanhMuc
                                                </a>
                                            </h6>
                                            <ul class="review-star">
                                                @for (int i = 0; i < item.DanhGia; i++)
                                                {
                                                    <li class="fill"><i class="ion-android-star"></i></li>
                                                }
                                                @for (double? i = item.DanhGia; i < 5; i++)
                                                {
                                                    <li class="empty"><i class="ion-android-star"></i></li>
                                                }
                                            </ul>
                                            <span class="price">

                                                @item.Gia

                                            </span>
                                        </div>
                                    </div>
                                }
                            </div>
                        </div>
                        <!-- If we need navigation buttons -->
                        <div class="swiper-button-prev d-none d-md-block"></div>
                        <div class="swiper-button-next d-none d-md-block"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- Start Banner Section -->
<div class="banner-section section-top-gap-100">
    <div class="banner-wrapper clearfix">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <!-- Start Banner Single Item -->
                    <div class="banner-single-item banner-style-13 banner-color--green" data-aos="fade-up"
                         data-aos-delay="0">
                        <div class="image">
                            <img src="/images/banner/banner-style-13-img_1.jpg" alt="">
                            <div class="content">
                                <div class="text">
                                    <h5 class="sub-title">SALE 15% CHO ĐƠN HÀNG ĐẦU TIÊN</h5>
                                    <h2 class="title">MỸ PHẨM CHEILINUS</h2>

                                    <a href="product-details-default.html"
                                       class="btn btn-lg btn-green icon-space-left">
                                        <span class="d-flex align-items-center">
                                            Shop Now <i class="ion-ios-arrow-thin-right"></i>
                                        </span>
                                    </a>
                                </div>
                            </div>
                        </div>

                    </div>
                    <!-- End Banner Single Item -->
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Banner Section -->