@model MyPhamCheilinus.Models.Loai

@{
    string CurrentMaDM = ViewBag.CurrentMaDM;
    string CurrentSearch = ViewBag.CurrentSearch;
    int CurrentPage = ViewBag.CurrentPage;
    double? CurrentMinPrice = ViewBag.CurrentMinPrice;
    double? CurrentMaxPrice = ViewBag.CurrentMaxPrice;
    ViewData["Title"] = "Delete";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <ol class="breadcrumb float-sm-right">
                <li class="breadcrumb-item"><a href="~/Home">Trang chủ</a></li>
                <a class="breadcrumb-item" asp-area="Admin" asp-controller="Loais" asp-action="Index">Danh sách loại sản phẩm</a>
                <li class="breadcrumb-item active">Xóa loại sản phẩm</li>
            </ol>
        </div>
    </div><!-- /.container-fluid -->
</section>
<div class="card-body">
    <h3>Bạn có chắc muốn xóa loại sản phẩm này?</h3>
    <div class="card">
        <div class="table">
            <table class="">
                <tbody>
                    <tr>
                        <td>Mã sản phẩm:</td>
                        <td class="text-dark font-weight-semibold">@Model.MaLoai</td>
                    </tr>
                    <tr>
                        <td>Tên sản phẩm:</td>
                        <td class="text-dark font-weight-semibold">@Model.TenLoai</td>
                    </tr>
                   
                <td class="row">
                    <form asp-action="Delete" asp-for="MaLoai" asp-route-page="@ViewBag.CurrentPage" asp-route-MaID="@ViewBag.CurrentMaID" asp-route-MaDM="@ViewBag.CurrentMaDM" asp-route-Search="@ViewBag.CurrentSearch" asp-route-MinPrice="@ViewBag.CurrentMinPrice" asp-route-MaxPrice="@ViewBag.CurrentMaxPrice">

                        <input type="submit" value="Xóa" class="btn btn-danger" /> |
                    </form>
                    <div>
                        <form asp-action="Details" asp-for="MaLoai" asp-route-page="@ViewBag.CurrentPage" asp-route-MaID="@ViewBag.CurrentMaID" asp-route-MaDM="@ViewBag.CurrentMaDM" asp-route-Search="@ViewBag.CurrentSearch" asp-route-MinPrice="@ViewBag.CurrentMinPrice" asp-route-MaxPrice="@ViewBag.CurrentMaxPrice">
                            <input type="submit" class="btn btn-secondary" value="Trở lại" />
                        </form>
                    </div>

                </td>
                </tbody>
            </table>

        </div>
    </div>
</div>
@section Scripts {
    <script>
        // Đảm bảo rằng trang đã tải hoàn toàn trước khi thực thi mã JavaScript
        $(document).ready(function () {
            CKEDITOR.replace('txtDetail', {
                customConfig: '/Content/ckeditor/config.js',
                extraAllowedContent: 'span',
            });
        });

    </script>
}
