@model MyPhamCheilinus.Models.Loai

@{
    ViewData["Title"] = "Chi tiết loại sản phẩm";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <ol class="breadcrumb float-sm-right">
                <li class="breadcrumb-item"><a href="~/Home">Trang chủ</a></li>
                <a class="breadcrumb-item" asp-area="Admin" asp-controller="Loais" asp-action="Index">Danh sách loại sản phẩm</a>
                <li class="breadcrumb-item active">Chi tiết loại sản phẩm</li>
            </ol>
        </div>
    </div><!-- /.container-fluid -->
</section>
<div class="card-body">
    <h3>Thông tin chi tiết của loại sản phẩm:</h3>
    <div class="card">
        <div class="table">
            <table class="">
                <tbody>
                    <tr>
                        <td>Mã loại sản phẩm:</td>
                        <td class="text-dark font-weight-semibold">@Model.MaLoai</td>
                    </tr>
                    <tr>
                        <td>Tên loại sản phẩm:</td>
                        <td class="text-dark font-weight-semibold">@Model.TenLoai</td>
                    </tr>  
                    <tr>
                        <td>
                            <form asp-action="Details" asp-for="MaDanhMuc" asp-route-TenLoai="@ViewBag.CurrentLoai" asp-route-page="@ViewBag.CurrentPage">
                                <a asp-action="Edit" class="btn btn-success" asp-route-TenLoai="@ViewBag.CurrentLoai" asp-route-id="@Model.MaLoai" asp-route-page="@ViewBag.CurrentPage" >Sửa thông tin</a> |
                                <input type="submit" class="btn btn-secondary" id="backToList" value="Trở lại" />
                            </form>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>