@model MyPhamCheilinus.Models.Role
@{
    ViewData["Title"] = "Cập nhật quyền truy cập";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}
<h1>@ViewBag.Currentid</h1>
<h1>@ViewBag.CurrentMaID</h1>
<section>
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-md-6">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="~/Home">Trang chủ</a></li>
                    <li class="breadcrumb-item"><a asp-area="Admin" asp-controller="Roles" asp-action="Index" asp-route-page="@ViewBag.CurrentPage">Danh sách quyền truy cập</a></li>
                    <li class="breadcrumb-item active">Cập nhật quyền truy cập</li>
                </ol>
            </div>
            <div class="col-md-6 text-right">
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>
<div class="card-body">
    <h3>Cập nhật thông tin quyền truy cập:</h3>
    <div class="card">
        <div class="card-body">
            <div class="row">
                <div class="col-md-4">
                    <form asp-action="Edit" asp-route-MaID="@ViewBag.CurrentMaID" asp-route-page="@ViewBag.CurrentPage" asp-route-Search="@ViewBag.CurrentSearch" asp-route-MoTa="@ViewBag.CurrentMoTa">
                        <div asp-validation-summary="All" class="text-danger"></div>
                        <input type="hidden" asp-for="RoleId" />
                        <div class="form-group">
                            <label>Quyền truy cập</label>
                            <input asp-for="RoleName" class="form-control" />
                            <span asp-validation-for="RoleName" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label>Mô tả</label>
                            <input asp-for="Description" class="form-control" />
                            <span asp-validation-for="Description" class="text-danger"></span>
                        </div>
                        <div class="form-group" asp-route-Id="@ViewBag.CurrentId1" asp-route-page="@ViewBag.CurrentPage" asp-route-Search="@ViewBag.CurrentSearch" asp-route-MoTa="@ViewBag.CurrentMoTa">
                            <input type="submit"  value="Lưu" class="btn btn-primary" />
                        </div>
                    </form>
                </div>
            </div>

            <div>
                <a asp-action="Index" asp-route-MaID="@ViewBag.CurrentMaID" asp-route-page="@ViewBag.CurrentPage" asp-route-Search="@ViewBag.CurrentSearch" asp-route-MoTa="@ViewBag.CurrentMoTa">Trở lại danh sách</a>
            </div>

        </div>
    </div>
</div>
