@model MyPhamCheilinus.Models.LoHang

@{
    ViewData["Title"] = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>LoHang</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NgayNhan)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NgayNhan)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GiaLo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GiaLo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MaNhaPpNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MaNhaPpNavigation.MaNhaPp)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.MaLoHang">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
