@model MyPhamCheilinus.ModelViews.Kho

@{

    ViewData["Title"] = "Thêm lô hàng";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

@section Styles{
    <link href="~/Adminassets/summernote/summernote-bs4.css" rel="stylesheet" />
    <link href="~/Adminassets/summernote/summernote.css" rel="stylesheet" />
}
<form asp-controller="LoHangs" asp-action="NhapKho" asp-route-page="@ViewBag.CurrentPage" method="post" enctype="multipart/form-data">
    <div asp-validation-summary="All" class="text-danger"></div>
    <section>
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-md-6">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="~/Home">Trang chủ</a></li>
                        <li class="breadcrumb-item"><a asp-area="Admin" asp-controller="LoHangs" asp-action="Index" asp-route-page="@ViewBag.CurrentPage">Danh sách lô hàng</a></li>
                        <li class="breadcrumb-item active">Thêm lô hàng</li>
                    </ol>
                </div>
                <div class="col-md-6 text-right">
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>
    <div class="page-header no-gutters has-tab">
        <ul class="nav nav-tabs">
            <li class="nav-item">
                <a class="nav-link active" data-toggle="tab" href="#product-edit-basic">Thông tin</a>
            </li>
        </ul>
    </div>
    <div class="tab-content m-t-15">
        <div class="tab-pane fade show active" id="product-edit-basic">
            <div class="card">
                <div class="card-body">
                    <div class="form-group">
                        <label class="font-weight-semibold" for="productName">Mã lô hàng</label>
                        <input type="text" class="form-control" asp-for="MaLoHang" id="maSanPhamInput" />
                    </div>
                    <div class="form-group">
                        <label class="font-weight-semibold" for="productName">Tên lô hàng</label>
                        <input type="text" class="form-control" asp-for="TenSanPham" id="maSanPhamInput" value="@ViewBag.CurrentMaSP" />
                    </div>
                    <div class="row">

                        <div class="form-group col-md-4">
                            <label class="font-weight-semibold" for="productPrice">Đơn giá</label>
                            <input type="number" class="form-control" asp-for="GiaLo" step="0.01" value="@ViewBag.CurrentGia">
                        </div>
                        <div class="form-group col-md-6">
                            <label class="font-weight-semibold" for="productName">Số lượng sản phẩm</label>
                            <input type="number" class="form-control" asp-for="SoLuong" step="1">
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-6">
                            <label class="font-weight-semibold" for="productCategory">Nhà phân phối</label>
                            <select class="custom-select" asp-for="TenNhaPP" style="min-width: 200px" asp-items="ViewBag.MaNhaPp">
                                <option value="" disabled selected>Chọn nhà phân phối</option>
                            </select>
                        </div>

                    </div>




                    <td class="row">
                        <button class="btn btn-primary">
                            <i class="anticon anticon-save"></i>
                            <span>Thêm sản phẩm</span>
                        </button>
                        <button class="btn btn-secondary">
                            <a asp-area="Admin" asp-controller="SanPhams" asp-action="Index" asp-route-page="@ViewBag.CurrentPage" asp-route-MaID="@ViewBag.CurrentMaID" asp-route-MaDM="@ViewBag.CurrentMaDM" asp-route-Search="@ViewBag.CurrentSearch" asp-route-MinPrice="@ViewBag.CurrentMinPrice" style="color: white" asp-route-MaxPrice="@ViewBag.CurrentMaxPrice">Trở lại</a>
                        </button>
                    </td>

                </div>
            </div>
        </div>

    </div>
</form>


@section Scripts {
    <script>
        // Đảm bảo rằng trang đã tải hoàn toàn trước khi thực thi mã JavaScript
        $(document).ready(function () {
            // Gán giá trị mặc định cho cột Mã sản phẩm
            $("#maSanPhamInput").val("LH");

            // Sử dụng sự kiện 'input' để theo dõi thay đổi trong cột Mã sản phẩm
            $("#maSanPhamInput").on('input', function () {
                var inputValue = $(this).val();
                // Kiểm tra nếu độ dài của giá trị nhập vào là 0 (trống) hoặc lớn hơn 6 ký tự, thì không thay đổi giá trị
                if (inputValue.length === 0) {
                    $(this).val("LH");
                } else if (inputValue.length > 6) {
                    // Giới hạn độ dài tối đa là 6 ký tự
                    $(this).val(inputValue.slice(0, 6));
                }
            });
            CKEDITOR.replace('txtDetail', {
                customConfig: '/Content/ckeditor/config.js',
                extraAllowedContent: 'span',
            });
        });

    </script>
}


